In [1]:
import pandas as pd
import numpy as np
import torch

In [4]:
df = pd.read_csv(r'C:\Users\Student.LAB2-AI-01\Downloads\sales_data.csv')

In [16]:
df.tail()

,store_id,customer_id,product_id,product_category,date,amount,single_price,transaction_id
95,Store 10,Customer 711,86284,Toys,5/23/2005 16:11,8,93.641214,96
96,Store 13,Customer 776,15381,Health,11/17/2006 0:55,2,81.335683,97
97,Store 14,Customer 1996,47830,Electronics,2/1/2008 18:44,3,54.128274,98
98,Store 12,Customer 1511,32795,Home/Garden,7/6/2005 17:24,6,97.923186,99
99,Store 09,Customer 836,14932,Movies,4/26/2006 17:36,1,44.794200,100

In [27]:
df.dtypes

store_id             object
customer_id          object
product_id            int64
product_category     object
date                 object
amount                int64
single_price        float64
transaction_id        int64
dtype: object

# Create x and y Variables

In [24]:
# Set target variable
target_column = 'amount'  # Assuming you want to predict 'amount'

# Create x (features) and y (target)
x = df.drop(columns=[target_column])  # Drop the target column to get features
y = df[target_column]  # Get the target variable

# Convert x and y to Tensors

In [13]:
# Convert categorical variables to numeric using one-hot encoding
x = pd.get_dummies(x, drop_first=True)

# Convert to NumPy arrays and then to PyTorch tensors
# Ensure that all data types are float
x_tensor = torch.tensor(x.values.astype(np.float32), dtype=torch.float32)
y_tensor = torch.tensor(y.values.astype(np.float32), dtype=torch.float32)

# Use DataLoader of PyTorch to Load Dataset

In [18]:
from torch.utils.data import TensorDataset, DataLoader

# Create a TensorDataset
dataset = TensorDataset(x_tensor, y_tensor)

# Create a DataLoader
batch_size = 32  # Adjust as necessary
data_loader = DataLoader(dataset, batch_size=batch_size, shuffle=True)

# Example of iterating through the DataLoader
for batch_x, batch_y in data_loader:
    print(batch_x.shape, batch_y.shape)  # Each batch will have the shape (batch_size, num_features) and (batch_size,)

torch.Size([32, 220]) torch.Size([32])
torch.Size([32, 220]) torch.Size([32])
torch.Size([32, 220]) torch.Size([32])
torch.Size([4, 220]) torch.Size([4])